@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div#slideButton {
    width: 100%;
    height: 100%;
}

div#slideButton div#slideActive {
    visibility: hidden;
    opacity: 0;
    transition: visibility ease-out .5s, opacity ease-in .5s;
}

div#slideButton:hover div#slideActive {
    visibility: visible;
    opacity: 1;
    transition: visibility ease-in .5s, opacity ease-in .5s;
}

div#slideButton button#prevContent {
    transform: translateX(100px);
    transition: transform ease-in 0.5s;
}

div#slideButton:hover button#prevContent {
    transform: translateX(0);
    transition: transform ease-in 0.5s;
}

div#slideButton button#nextContent {
    transform: translateX(-100px);
    transition: transform ease-in 0.5s;
}

div#slideButton:hover button#nextContent {
    transform: translateX(0);
    transition: transform ease-in 0.5s;
}

/* list work */
#posting-card:hover {
    transform: translateY(-10px);
    transition: all ease-in 0.3s;
}

a.detailWork svg#arrowButton {
    transform: rotate(-45deg) translate(0px);
    transition: all ease-out 0.3s;
}

a.detailWork:hover svg#arrowButton,
a.detailWork:focus-within svg#arrowButton {
    transform: rotate(-45deg) translate(8px);
    transition: all ease-in 0.3s;
}

#job-desc ul {
    list-style-type: circle !important;
    padding-left: 24px;
}

#job-desc p {
    margin-top: 16px;
}

/* disqus */
div#disqus_thread iframe[sandbox] {
    max-height: 0px !important;
}

/* slider posting */
.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
    overflow: hidden;
    position: relative;
    background: #222;
    z-index: 1;
}

#items {
    width: 10000px;
    position: relative;
    top: 0;
    left: -400px;
}

#items.shifting {
    transition: left .2s ease-out;
}

.slide {
    width: 400px;
    height: 300px;
    cursor: pointer;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s;
    position: relative;
    background: #FFCF47;
}

.slider.loaded .slide:nth-child(2),
.slider.loaded .slide:nth-child(7) {
    background: #FFCF47;
}

.slider.loaded .slide:nth-child(1),
.slider.loaded .slide:nth-child(6) {
    background: #7ADCEF;
}

.slider.loaded .slide:nth-child(3) {
    background: #F97C68;
}

.slider.loaded .slide:nth-child(4) {
    background: #a78df5;
}

.slider.loaded .slide:nth-child(5) {
    background: #ff8686;
}

.control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -20px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -20px;
}

.prev:active,
.next:active {
    transform: scale(0.8);
}

/* slider post */
.slick-slider {
    display: flex;
    position: relative;
}

button.slick-prev {
    display: flex !important;
    position: absolute;
    top: 45%;
    left: -14px;
    background-color: hsla(0, 0%, 13%, 0.8);
    z-index: 10;
}

button.slick-next {
    display: flex !important;
    position: absolute;
    top: 45%;
    right: -18px;
    background-color: hsla(0, 0%, 13%, 0.8);
    z-index: 10;
}

.slick-list {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: 500px !important;
}

.slick-track {
    display: flex;
    gap: 8px;
}

@media (max-width: 425px) {

    button.slick-next,
    button.slick-prev {
        display: none !important;
    }
}